#defaults
# .gitignore
__pycache__/
.vscode/

# Folders
configs/audit/**
configs/command_list/**
configs/switch_list/**
configs/*.yaml
site_info/**
logs/**
test_package*
testing*

# Global
aa_global.py

# run files
run_*

# test files
test_*

# one off
